<!-- Optional footer content -->
<style type="text/css">
	.footer-bio {
		font-size: .75rem;
		position: page.content;
		display: inline;
		height: 4.5rem; 
		min-height: 100vh;
		margin-bottom: 10px;
		font-family: 'Open Sans', sans-serif;
	}
	.img-avatar{
		float: left;
		height: 15%;
		width: 15%;
		border-radius: 50%;
		padding-right: 10px;
		display: inline;
	}
	.footer-head{
		font-family: 'K2D', sans-serif;\
		font-weight: '700';
	}
</style>
<footer class="message">
	<div class="footer-bio">
		<h3 class="footer-head"><a href="http://klescosia.tk" alt="avatar">Kyle Escosia</a></h3>
		<p>
			<img class="img-avatar" src="../assets/images/avatar-3.png"/>
			Kyle has passion in <strong>Data Science</strong>, an aspiring Data Scientist. He has a Bachelor's Degree in <strong>Information Systems </strong>with specialization in Business Analytics. He is interested in anything related to Data Science and its applications; be it Artificial Intelligence, Advanced Analytics and Business Intelligence. He currently works at <a href="https://www.info-alchemy.com/">Info Alchemy Corporation </a> as a <strong>Jr. Data Science Specialist.</strong>
		</p>
	</div>
</footer>